<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<ul class="list">
	    <li class="item" id="log"></li>
	</ul>
</ion-content>
