<!-- <ion-header>
  <ion-navbar>
    <ion-title>
      Beacons
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<ul class="list">
	    <li class="item" id="log"></li>
	</ul>
</ion-content> -->



<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Beacons</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

	<ul class="list">
		<li class="item" id="log"></li>
	</ul>

</ion-content>
